<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome to AlphaSquad <%= user.name %></p>


<a href="/users/profile" class="btn btn-info">Profile</a>



<br><br>
<hr>
<a href="/users/logout" class="btn btn-primary">Logout</a>
